<div th:fragment="header">
<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
    <a href="/main" class="d-flex align-items-center text-dark text-decoration-none"> <img src="img/home_black_24dp.png" alt="Home">

    </a>
    <span class="fs-4">Main menu</span>
    <nav class="d-inline-flex mt-2 mt-md-7 ms-md-auto">
        <a class="text-dark text-decoration-none" href="#">Gallery</a>
        <a class="text-dark text-decoration-none" href="#">Books</a>
        <a class="text-dark text-decoration-none" href="#">Actions page</a>
        <a class="text-dark text-decoration-none" href="#">Something else....</a>
    </nav>
</div>


</div>